#!/bin/sh 
#
# Author arkatPDA
# Copyright (C) Lvk Labs
 
# This file is part of gitScripts.
 
# gitScripts is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# any later version.
 
# gitScripts is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# -x for debbuging only

# Configuration file example
# if you want u can make a new file named '.lvkgit.cfg' in your working directory (where you have .git folder)
# it will be used insted of default '$HOME/.lvk/.lvkgit.cfg' con figuration file
readonly GIT_DOMAIN="user@domain"
readonly GIT_DIR="folder_where_store_repos"
readonly GIT_LOCAL_DIR="$HOME/lvk/repos"

# Set where we put lvk binary git tools (and with that the man pages)
readonly GIT_SCRIPTS_DIR="$HOME/.lvk/gitScripts"

#Debug boolean variable
readonly LVKDEBUG=0
